/*
 * openwms.org, the Open Warehouse Management System.
 *
 * This file is part of openwms.org.
 *
 * openwms.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * openwms.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software. If not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 *
 * Main colors:
 * blue		: 2e7bb1
 * yellow	: e1e76b 
 *
 */
Button {
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
	skin: Embed("assets/images/clearskin/button_skin.png",
			scaleGridLeft="7",
			scaleGridRight="21",
			scaleGridTop="7",
			scaleGridBottom="19");
	over-skin: Embed("assets/images/clearskin/button_over_skin.png",
			scaleGridLeft="7",
			scaleGridRight="21",
			scaleGridTop="7",
			scaleGridBottom="19");
	open-duration: 0;
	close-duration: 0;
	corner-radius: 2;
}
Panel {
	headerHeight: 26;
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: 1.0;
	titleStyleName: "mypanelTitle";
}
.mypanelTitle {
	fontFamily: Arial;
	fontSize: 10;
	fontWeight: bold;
}
.closeBtn {
	upSkin:        Embed('assets/images/superPanel/closeButton.png');
	overSkin:      Embed('assets/images/superPanel/closeButton.png');
	downSkin:      Embed('assets/images/superPanel/closeButton.png');
	disabledSkin:  Embed('assets/images/superPanel/closeButton.png');
}
.increaseBtn {
	upSkin:        Embed('assets/images/superPanel/increaseButton.png');
	overSkin:      Embed('assets/images/superPanel/increaseButton.png');
	downSkin:      Embed('assets/images/superPanel/increaseButton.png');
	disabledSkin:  Embed('assets/images/superPanel/increaseButton.png');
}
.decreaseBtn {
	upSkin:        Embed('assets/images/superPanel/decreaseButton.png');
	overSkin:      Embed('assets/images/superPanel/decreaseButton.png');
	downSkin:      Embed('assets/images/superPanel/decreaseButton.png');
	disabledSkin:  Embed('assets/images/superPanel/decreaseButton.png');
}
.minimizeBtn {
	upSkin:        Embed('assets/images/superPanel/decreaseButton.png');
	overSkin:      Embed('assets/images/superPanel/decreaseButton.png');
	downSkin:      Embed('assets/images/superPanel/decreaseButton.png');
	disabledSkin:  Embed('assets/images/superPanel/decreaseButton.png');
}
.resizeHndlr {
	upSkin:        Embed('assets/images/superPanel/resizeHandler.png');
	overSkin:      Embed('assets/images/superPanel/resizeHandler.png');
	downSkin:      Embed('assets/images/superPanel/resizeHandler.png');
	disabledSkin:  Embed('assets/images/superPanel/resizeHandler.png');
}